---
name: schedule
title: SCHEDULE
url: /schedule
animationIn: zoomIn 
<!-- animationOut: hingeOutFromTop zoomOut -->
schedules:
            -
                time: 7 — 8PM
                class: FIRST FLIGHT — SILKS
                link:  https://brooklynairspace.frontdeskhq.com/group_classes/45529?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                icon: fa fa-paper-plane fa-lg
            -
                time: 7 — 8PM
                class: FRESH WINGS — SILKS • MON 8-9PM
                link:  https://brooklynairspace.frontdeskhq.com/group_classes/48016?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                icon: fa fa-fighter-jet fa-rotate-270 fa-lg
            -
                time: 7 — 8PM
                class: ADVANCED BALLET • MON 10-1130AM
                link:  https://brooklynairspace.frontdeskhq.com/group_classes/45148?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                icon: fa fa-street-view fa-lg 
            -
                time: 7 — 8PM
                class: CONTEMPORARY • TUES 10-1130AM
                link:  https://brooklynairspace.frontdeskhq.com/group_classes/45497?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                icon: fa fa-street-view fa-lg                
            -
                time: 7 — 8PM
                class: FLEX FIT • WED 630-730PM
                link:  https://brooklynairspace.frontdeskhq.com/group_classes/47214?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                icon: fa fa-child fa-lg 
categories:
    -
        name: membership
        cards:
            -
                color: alert
                class: PRO AIRTIME
                date: MONDAY — THURSDAY • 12 — 6PM
                description: Affordable point rental for professional & advanced level aerialists. A $50 annual membership gives members access to hourly point rentals Monday-Thursday 12-6pm. Pro AirTime renters are encouraged to use the AirSpace floor space to thoroughly warm up and cool down before and after their point rental. All points/hours must be reserved and paid for in advance online.


                deals:
                    -
                        name: ANNUAL MEMBERSHIP
                        color: dark
                        value: ONE HOUR RENTALS — $10
                        price: $50 
                        icon: fa fa-ticket fa-2x
                        link: https://brooklynairspace.frontdeskhq.com/categories/33953?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace

                rules:
                    -
                        name: Eligibility is based on a strength & skill evaluation to confirm that the aerialist is pro-level. Pro Airtime members must participate in an orientation to learn how to properly rig at airspace and to review general program policies. email bkairspace@gmail.com to schedule an orientation & evaluation.

                    -
                        name: Pro airtime participants are encouraged to bring their own apparatus & equipment. Brooklyn Airspace has aerial silks and lyras available for rent at $3/session

                    -
                        name: Private instruction and audition rentals have different rates and must be directly scheduled through airspace. email bkairspace@gmail.com for more information
                    -
                        name: Equipment storage is available. email bkairspace@gmail.com for more information
                courses:
                    -
                        link: https://brooklynairspace.frontdeskhq.com/categories/33953?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                        skill: FIRST FLIGHT - SILKS - BASICS
                        icon: fa fa-ticket
            -
                color: alert
                class: GROUND MEMBERSHIP
                date:  THURSDAY • 9AM — 12PM
                description: Designed for the professional performer, $10/month gives members access to all dance & ground conditioning classes at $3 off the regular rate. Members also receive free access to the dance studio every Thursday 9am-12pm. This open studio time is for personal development, practice, and creation in a shared space.

                deals:
                    -
                        name: -$3/OFF GROUND CLASSES 
                        color: dark
                        value: FREE OPEN STUDIO  
                        price: $10
                        icon: fa fa-ticket fa-2x
                        link: https://brooklynairspace.frontdeskhq.com/membership_products/139835?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace

                rules:
                    -
                        name: Please note that this is not a time to teach private lessons, and anyone found doing so will immediately have their membership revoked.


    -
        name: aerial
        cards:
            -
                color: dark
                class: AERIAL WORKOUT
                date:  THURSDAY • 7 — 9PM
                description: Affordable training time for both aerial students and professionals who are working on advancing their skills. Supervised by a qualified AirSpace educator to ensure safety.

                deals:
                    -
                        name: SINGLE PASS
                        color: dark
                        value: SUPERVISED TRAINING
                        price: $20 
                        icon: fa fa-money fa-2x
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/47020?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace

                rules:
                    -
                        name: Please note that this is not a time to teach private lessons, and anyone found doing so will immediately have their membership revoked.
            - 
                color: dark
                class: FIRST FLIGHT – SILKS
                date: MONDAY & TUESDAY • 7 — 8PM
                description: Aerial Silks are two long pieces of fabric suspended from a single point. In this class students will learn how to climb the fabric, the basic figure eight foot lock, and how to invert into a hammock. Class will consist of a short warm up and end with level-appropriate conditioning. Excellent for first timers.


                teachers:
                    -
                        name: KYLA ERNST-ALPER
                    -
                        name: SHALVA WISE

                rules:
                    -
                        name: TIGHT ATHLETIC CLOTHING REQUIRED.
                    -
                        name: LEGS, TORSO, & SHOULDERS SHOULD BE FULLY COVERED.
                    -
                        name: 6 STUDENTS MAX.

                deals:
                    -
                        name: FIRST FLIGHT – SILKS
                        color: dark
                        value: BASICS
                        price: $30
                        icon: fa fa-paper-plane fa-2x
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/45529?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
            - 
                color: dark
                class: FRESH WINGS – SILKS
                date: MONDAY • 8 — 9PM | TUESDAY • 830 — 930PM | THURSDAY • 6 — 7PM
                description: This class is designed for the beginner student who has mastered climbing and figure eight foot locks. Students will work on harder basic silks wraps such as hip key, aerial dance wraps, and double ankle hang. They will also begin to work on inversions, both on the ground and in the air. Class will begin with a very short warm up and progress throughout. Level-appropriate conditioning will also be included.

                teachers:
                    -
                        name: KYLA ERNST-ALPER
                    -            
                        name: SARAH WOLLSCHLAGER
                rules:
                    -
                        name: COMFORTABLE CLIMBING TO THE TOP OF THE SILKS. 
                    -
                        name: EXECUTE FIGURE EIGHT FOOT LOCK IN THE AIR.
                    -
                        name: 6 STUDENTS MAX.

                deals:
                    -
                        name:  FRESH WINGS - SILKS
                        color: dark
                        value: INTERMEDIATE
                        price: $30
                        icon: fa fa-fighter-jet fa-rotate-270 fa-2x
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/48016?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
            - 
                color: dark
                class: FLY HIGH – SILKS
                date: WEDNESDAY • 730 — 9PM
                description: This class is for intermediate and advanced students and professionals looking to expand their silks vocabulary. In class students will work on stamina and sequencing while learning new and exciting poses and drops.

                teachers:
                    -
                        name: JENNIFER KOVACS        

                rules:
                    -
                        name: SKILLSET OF ALL SILKS AND WRAPS BASICS
                    -
                        name: ABILITY TO COMFORTABLY INVERT
                    -
                        name: EXECUTE FIGURE EIGHT FOOT LOCK | AERIAL DANCE WRAPS | CROSS BACK STRADDLE | HIP KEY
                    -
                        name: 8 STUDENTS MAX.

                deals:
                    -
                        name: FLY HIGH – SILKS
                        color: dark
                        value: ADVANCED
                        price: $40
                        icon: fa fa-space-shuttle fa-rotate-270 fa-2x
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/47223?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
            -
                color: dark
                class: FIRST FLIGHT – LYRA
                date: TUESDAY • 630 — 730PM
                description: Aerial hoop or lyra is a large steel hoop suspended from the ceiling by one or two points. In basic hoop students will learn how to enter and exit the hoop as well as some basic poses. Class will also include level appropriate conditioning and learning how to spin.


                teachers:
                    -
                        name: KYLA ERNST-ALPER        

                rules:
                    -
                        name: TIGHT ATHLETIC CLOTHING REQUIRED.
                    -
                        name: LEGS & TORSO SHOULD BE FULLY COVERED.
                    -
                        name: 6 STUDENTS MAX.
                    
                deals:
                    -
                        name:  FIRST FLIGHT - LYRA
                        color: dark
                        value: BASICS
                        price: $30
                        icon: fa fa-circle-o-notch fa-2x
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/47222?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
            - 
                color: dark
                class: FLY HIGH – LYRA
                date: TUESDAY • 745 — 915PM
                description: In this class students will work on advanced poses, circles, and flips. Class will start with warming up and level appropriate conditioning. Then students will work on sequencing while learning new moves. The end of class will be reserved for taking what was learned and working on it while spinning.

                teachers:
                    -
                        name: JENNIFER KOVACS        

                rules:
                    -
                        name: BASIC LYRA TECHNIQUES
                    -
                        name: PIKE OVER FROM CHEST HEIGHT
                    -
                        name: ABILITY TO COMFORTABLY INVERT
                    -
                        name: 8 STUDENTS MAX.

                deals:
                    -
                        name:  FLY HIGH - LYRA
                        color: dark
                        value: ADVANCED
                        price: $40
                        icon: fa fa-circle-o-notch fa-2x
                   
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/45498?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
            - 
                color: dark
                class: FLY HIGH – CORDE LISSE
                date: MONDAY • 7 — 830PM
                description: The corde lisse (aerial rope) is a braided rope inclosed inside a smooth casing and suspended from the ceiling. In this class students will explore the corde by learning different climbs, descents, static poses, swinging moves, and drops. Perfect for the intermediate student or professional looking to experiment with a new apparatus.


                teachers:
                    -
                        name: PAUL HAWXHURST        

                rules:
                    -
                        name: ABILITY TO COMFORTABLY INVERT
                    -
                        name: ABILITY TO CLIMB TO TOP OF ROPE
                    -
                        name: EXECUTE HIP KEY IN AIR
                    -
                        name: 6 STUDENTS MAX.
                deals:
                    -
                        name:  CORDE LISSE – AERIAL ROPE
                        color: dark
                        value: INTERMEDIATE
                        price: $40
                        icon: fa fa-road fa-2x
                   
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/47204?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
    -
        name: ground
        cards:
            - 
                color: dark
                class: CYR WHEEL
                date: WEDNESDAY • 630 — 8PM
                description: Cyr Wheel is a relatively new circus apparatus that is gaining in popularity not only for performance, but also as a fun recreational sport and challenging workout. Defy the laws of physics. Come find your Vitruvian self. All levels welcome.

                teachers:
                    -
                        name: RANDY KATO   

                rules:
                    -
                        name: CLOSED-TOE ATHLETIC SNEAKERS 
                    -
                        name: 6 STUDENTS MAX.
                deals:
                    -
                        name:  CYR WHEEL
                        color: dark
                        value: OPEN
                        price: $40
                        icon: fa fa-circle-thin fa-2x
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/47142?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace

            - 
                color: dark
                class: GERMAN WHEEL
                date: WEDNESDAY • 8 — 930PM
                description: Come one, come all! Never been on a German Wheel? No problem! You're gonna have a blast. Welcome to the wonderful world of the German Wheel, an international gymnastics sport and a much sought after circus apparatus. Class is 90 minutes long but expect to go upside down in the first trick. Great for building balance, core strength, and flexibility, German Wheel is safe, fun, and a great way to exercise without mindlessly lifting weights at the gym. The only requirement is hard-soled, flat-top canvas shoes (think Converse All-Stars.)

                teachers:
                    -
                        name: CHRIS DELGADO   

                rules:
                    -
                        name: THIN-SOLED CANVAS SNEAKERS 
                    -
                        name: 6 STUDENTS MAX.

                deals:
                    -
                        name:  GERMAN WHEEL
                        color: dark
                        value: OPEN
                        price: $30
                        icon: fa fa-circle-o fa-2x
                   
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/47775?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace

            - 
                color: dark
                class: ADVANCED BALLET
                date: MONDAY • 10 — 1130AM
                description: This ballet class is designed for professional dancers of all styles. A brief warm-up before barre begins with a few exercises to engage the core, articulate joints, and enforce key muscular connections. Barre begins slowly, focusing on alignment, freedom of movement, and precision. In the center, while progressing through the traditional ballet class structure, emphasis is on movement quality and timing.


                teachers:
                    -
                        name: KYLA ERNST-ALPER
                courses:
                    -
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/47172?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                        skill: ADVANCED BALLET               

                deals:
                    -
                        name: ADVANCED BALLET
                        color: dark
                        value: MEMBERS
                        price: $13
                        icon: fa fa-ticket fa-2x
                        link:  https://brooklynairspace.frontdeskhq.com/group_classes/47172?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                    -
                        name:  ADVANCED BALLET
                        value: NON-MEMBERS
                        price: $16 
                        icon: fa fa-street-view fa-2x 
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/45148?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
            - 
                color: dark
                class: CONTEMPORARY BALLET
                date: THURSDAY • 7 — 830PM
                description: The class begins with a ballet barre focusing on intricate patterns, fluid musicality, and articulate phrasing. As we move away from the barre, we transition to more contemporary sequences.

                teachers:
                    -
                        name: EDGAR PETERSON      

                rules:
                    -
                        name: ADVANCED BALLET TECHNIQUE

                deals:
                    -
                        name: CONTEMPORARY BALLET
                        color: dark
                        value: MEMBERS
                        price: $13
                        icon: fa fa-ticket fa-2x
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/47219?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                    -
                        name:  CONTEMPORARY BALLET
                        value: NON-MEMBERS
                        price: $16 
                        icon: fa fa-street-view fa-2x 
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/46914?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
            - 
                color: dark
                class: MODERN TECHNIQUE
                date: MONDAY • 630 — 8PM
                description: During a thorough and active warm-up, students will focus on alignment, core work and breath in an effort to be grounded and working at full potential. Phrasing will be athletic, quirky movement with an emphasis on technique, rhythm, floor work and moving horizontally through space.  Students will investigate the physical intent of the movement by using imagery and dynamic energy.  The class will be full of purposeful motion!

                teachers:
                    -
                        name: JENNY ROCHA   

                rules:
                    -
                        name: PRIOR DANCE EXPERIENCE 

                deals:
                    -
                        name: MODERN TECHNIQUE
                        color: dark
                        value: MEMBERS
                        price: $15
                        icon: fa fa-ticket fa-2x
                        link:  https://brooklynairspace.frontdeskhq.com/group_classes/47208?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                    -
                        name:  MODERN TECHNIQUE
                        value: NON-MEMBERS
                        price: $18 
                        icon: fa fa-street-view fa-2x 
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/47207?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
            - 
                color: dark
                class: ADVANCED CONTEMPORARY
                date: TUESDAY • 10 — 1130AM
                description: Kyla's unique style combines her martial arts practice with classical technique transferred to her from master ballet teachers Richard Thomas, Daniel Levans, and Christine Sarry. Additional influences include Eliot Feld, Dunham Technique, and a wide range of contemporary dance styles.

                teachers:
                    -
                        name: KYLA ERNST-ALPER   

                rules:
                    -
                        name: PRIOR DANCE EXPERIENCE 

                deals:
                    -
                        name: ADVANCED CONTEMPORARY
                        color: dark
                        value: MEMBERS
                        price: $13
                        icon: fa fa-ticket fa-2x
                        link:  https://brooklynairspace.frontdeskhq.com/group_classes/47213?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                    -
                        name:  ADVANCED CONTEMPORARY
                        value: NON-MEMBERS
                        price: $16 
                        icon: fa fa-street-view fa-2x 
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/45497?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
            - 
                color: dark
                class: CONTEMPORARY
                date: WEDNESDAY • 2 — 330AM
                description: Movement drawn from different dance styles and techniques designed to feel good on the dancer and to elicit an emotional and cathartic connection to both your body and the use of space around you. We will start with active preparation of the body and work on a build of choreographic phrases, with both new and repertoire pieces. We will create a comfortable, trusting movement relationship where you can explore and grow as a performer. Athletic use of levels require some dance and movement experience.

                teachers:
                    -
                        name: MIRIAM WASMUND   

                rules:
                    -
                        name: PRIOR DANCE EXPERIENCE 

                deals:
                    -
                        name: CONTEMPORARY
                        color: dark
                        value: MEMBERS
                        price: $13
                        icon: fa fa-ticket fa-2x
                        link:  https://brooklynairspace.frontdeskhq.com/group_classes/49398?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                    -
                        name:  CONTEMPORARY
                        value: NON-MEMBERS
                        price: $16
                        icon: fa fa-street-view fa-2x 
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/48920?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace

            - 
                color: dark
                class: ESSENTIAL BALLET BARRE
                date: TUESDAY • 12 - 1PM | WEDNESDAY • 7 - 8PM
                description:  An introduction to ballet technique - an essential for movement artists of all styles. This class is open to anyone seeking to learn clean, simple, ballet fundamentals to build grace and beautiful lines both on the ground and in the air.

                teachers:
                    -
                        name: MAXX PASSION | MIRIAM WASMUND   

                rules:
                    -
                        name: NONE 

                courses:
                    -
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/48017?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                        skill: ESSENTIAL BALLET BARRE
                deals:
                    -
                        name: ESSENTIAL BALLET BARRE
                        color: dark
                        value: MEMBERS
                        price: $13
                        icon: fa fa-ticket fa-2x
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/49394?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                    -
                        name:  ESSENTIAL BALLET BARRE
                        value: NON-MEMBERS
                        price: $16 
                        icon: fa fa-street-view fa-2x 
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/48017?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
            -
                color: dark
                class: DANCEBOHO
                date: MONDAY & WEDNESDAY • 8 - 9PM
                description:  Soul-lifting, sweat pouring, alternative movement experience blending urban, tribal, and contemporary steps into a bohemian medley of fun, non-stop grooves to a pulsing audiotopia of modern and vintage music. Inspired by the soulful, free spirited love vibe of underground dance club culture, danceBOHO is all about being in touch with your body, the beat and the freedom of letting go.

                teachers:
                    -
                        name: HASSAN CHRISTOPHER   

                rules:
                    -
                        name: NONE 

                courses:
                    -
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/46950?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                        skill: DANCEBOHO
                deals:
                    -
                        name: DANCEBOHO
                        color: dark
                        value: MEMBERS
                        price: $13
                        icon: fa fa-ticket fa-2x
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/49390?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                    -
                        name:  DANCEBOHO
                        value: NON-MEMBERS
                        price: $16 
                        icon: fa fa-street-view fa-2x 
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/46950?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
            - 
                color: dark
                class: MOVING INTEL
                date: WORKSHOP - DATES TBA
                description:  Moving Intel is a rigorous yet playful approach to physical improvisation that awakens the body’s intuitive creative intelligence. Through a progressive series of simple and engaging movement challenges that layer into a rich toolkit of creative choices, participants develop and expand awareness of their physical being as a conduit for spontaneous personal expression, dynamic partnering and organic group improvisation. Thursday class is open to advanced movers with or without improvisation experience.

                teachers:
                    -
                        name: HASSAN CHRISTOPHER   

                rules:
                    -
                        name: NONE 
                deals:
                    -
                        name: MOVING INTEL
                        color: dark
                        value: MEMBERS
                        price: $15
                        icon: fa fa-ticket fa-2x
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/49957?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                    -
                        name: MOVING INTEL
                        color: dark
                        value: NON-MEMBERS
                        price: $18
                        icon: fa fa-street-view fa-2x
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/47021?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
    -
        name: Conditioning
        cards:
            - 
                color: dark
                class: FLEX FIT
                date: WEDNESDAY • 630 - 730PM
                description:  The essential warm-up – conditioning & flexibility for athletes, dancers, circus artists. This class is an amalgam of martial arts, dance, and circus training. Exercises are designed to help students deepen flexibility, increase range of motion, gain strength, and improve alignment.

                teachers:
                    -
                        name: KYLA ERNST-ALPER   

                rules:
                    -
                        name: NONE 

                courses:
                    -
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/47216?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                        skill: FLEX FIT
                deals:
                    -
                        name: FLEX FIT
                        color: dark
                        value: MEMBERS
                        price: $13
                        icon: fa fa-ticket fa-2x
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/47216?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                    -
                        name:  FLEX FIT
                        value: NON-MEMBERS
                        price: $16 
                        icon: fa fa-child fa-2x 
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/47214?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace

            - 
                color: dark
                class: PERFORMER CONDITIONING 
                date: WEDNESDAY • 12 - 1PM
                description:  Whether new to performing with strength components or not, this class is designed to help you articulate and activate proper muscle groups to build strength, create stability and joint integrity, while learning proper and dynamic movement patterns to help master your body weight. With some extra focus on the tough stuff, we will build core, posterior chain (pull strength), grip strength, and kinesthetic awareness, to help keep you strong, effective, thoughtful and injury free while you explore your growing physicality.

                teachers:
                    -
                        name: MIRIAM WASMUND   

                rules:
                    -
                        name: NONE 

                courses:
                    -
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/48927?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                        skill: CONDITIONING FOR THE PHYSICAL PERFORMER
                deals:
                    -
                        name: PERFORMER CONDITIONING
                        color: dark
                        value: MEMBERS
                        price: $13
                        icon: fa fa-ticket fa-2x
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/49397?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                    -
                        name:  PERFORMER CONDITIONING
                        value: NON-MEMBERS
                        price: $16 
                        icon: fa fa-child fa-2x 
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/48927?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
            -

                color: dark
                class: GYROKINESIS®
                date: THURSDAY • 12 - 1PM | 3 — 4PM
                description:  Gyrokinesis® is a yoga-based movement technique developed by Juliu Horvath, the creator of the Gyrotonic® Expansion System. It blends elements of yoga, tai chi, gymnastics, and dance. Incredibly beneficial for dancers and non dancers alike, this dynamic class works the body in gentle circular movements, building your stamina, and dramatically increasing your flexibility. This class is suitable for all ages and levels.

                teachers:
                    -
                        name: AMANDA ARCHULETA   

                rules:
                    -
                        name: NONE 

                deals:
                    -
                        name: GYROKINESIS®
                        color: dark
                        value: MEMBERS
                        price: $13
                        icon: fa fa-ticket fa-2x
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/49392?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                    -
                        name: GYROKINESIS®
                        color: dark
                        value: NON-MEMBERS
                        price: $16
                        icon: fa fa-child fa-2x
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/46944?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace

            - 
                color: dark
                class: PILATES MAT
                date: TUESDAY • 830 - 930AM | THURSDAY • 8 - 9AM
                description:  Pilates Mat is a system of controlled exercises using your own body weight as the primary source of resistance, to engage the mind and condition the total body. Working with the deepest muscle layers, we focus on stabilizing the spine and pelvis through a blend of strength and flexibility training to gain ideal posture and alignment. This class works the entire body with efficiency to restore healthy and balanced movement, and is suitable for a range of levels and abilities.

                teachers:
                    -
                        name: AMANDA MACLEOD   

                rules:
                    -
                        name: NONE 

                deals:
                    -
                        name: PILATES
                        color: dark
                        value: MEMBERS
                        price: $13
                        icon: fa fa-ticket fa-2x
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/47174?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace
                    -
                        name: PILATES MAT
                        color: dark
                        value: NON-MEMBERS
                        price: $16
                        icon: fa fa-child fa-2x
                        link: https://brooklynairspace.frontdeskhq.com/group_classes/47170?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace

---
    <br /><br /><br /><br />
    <div class="show-for-large">
        <br /><br /><br /><br />
    </div>



    <strong>
    <h5 style="letter-spacing: .5em;" align="center">
    {{vars.title}}
    </h5>
    <hr>
    </strong>
    <br />


<link href="http://brooklynairspace.frontdeskhq.com/styles_widget/9501.css?1424122170" media="screen" rel="stylesheet" type="text/css">
<span>
<script defer src="http://fdhq-assets.s3.amazonaws.com/widget/schedule/app.min.js"></script>
</span>
<div class="fd-config" data-fd-timezone="America/New_York" data-fd-domain="brooklynairspace" data-fd-path="/schedule"></div>
<div data-ng-view="" id="fd_schedule" data-ng-cloak="">
<a href="https://brooklynairspace.frontdeskhq.com/schedule?utm_campaign=ClientReferral&utm_medium=website&utm_content=button&utm_term=FD%20Share&utm_source=brooklynairspace">Schedule</a>
</div>


                    <section class="block-list">
                        <ul class="icon-left vertical menu-bar">
                            <li class="with-chevron" ng-repeat="schedule in vars.schedules"
                                style="letter-spacing: .10em;">
                                <a href="{{schedule.link}}" target="_blank">

                                <i align="center" style="color: black;" class="{{schedule.icon}}"></i>
                                <h6 style="letter-spacing: .5em; text-transform: uppercase;" align="center">{{schedule.time}}</h6>
                            <strong><header style="letter-spacing: .10em; color: black;">{{schedule.class}}</header></strong>
                            </a>
                        </li>
                    </ul>
                </section>




<div ng-controller="MyController"  ng-repeat="category in vars.categories">
            <h6 style="letter-spacing: .5em; text-transform: uppercase;" align="center">{{category.name}}</h6>
            <hr>
            <!-- POPULATE CLASSES -->
<!--     <slick responsive="breakpoints"  slides-to-scroll="3" dots="true">
            <div class="grid-content" ng-repeat="card in category.cards" >

                <div class="card {{ card.color }}" style="letter-spacing: .05em;" align="center">
                    <h4><strong>{{card.class}}</strong></h4>
                    <h6><small>{{card.date}}</small></h6>
                    <section class="block-list">
                        <ul class="icon-top menu-bar vertical">
                            <li class="with-chevron" ng-repeat="deal in card.deals" style="letter-spacing: .10em;">
                                <a href="{{deal.link}}" target="_blank" align="center">
                                <small style="color: black;">
                                {{deal.name}}
                                </small>
                                <br />
                                <i class="{{deal.icon}}" style="color: black;"></i>
                                <br />
                                <strong style="color: black;">
                                {{deal.price}}
                                </strong>
                                <br />
                                <small style="color: black;">
                                <strong>{{deal.value}}
                                </strong>
                                </small>
                                </a>
                            </li>
                        </ul>
                        </section>
                    <zf-accordion auto-open="false" collapsible="true">
                    <zf-accordion-item title="DESCRIPTION" align="center">
                                <div class="card-section">
                                    <p align="left"><strong>{{card.description}}</strong></p>
                                </div>
                                </zf-accordion-item>
                                <zf-accordion-item title="QUALIFICATIONS"  align="center">
                                <div class="card-section">
                                    <li ng-repeat="rule in card.rules">
                                        <p align="left"><strong>{{rule.name}}</strong></p>
                                    </li>
                                </div>
                    </zf-accordion-item>
                    </zf-accordion>
                
</div>
</div>
</slick> -->

 